/*#region Basic*/
* { padding: 0; margin: 0;}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  top: 0;
  left: 0;
  color: rgb(240, 240, 240);
  background-color: rgb(30, 30, 30);
  font-family: Consolas, monaco, monospace;
}
/*#endregion */

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.map-geolocate {
  top: 0;
  left: 0;
  padding: 10px;
}

.map-nav {
  top: 72px;
  left: 0;
  padding: 10px;
}

.marker {
  content: '';
  position: absolute;
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background-color: #7366ff;
  border: 2px solid #fff;
}

.marker::before {
  content: '';
  position: absolute;
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background-color: #7366ff;
  animation: marker-pulse 4s infinite;
}

.marker::after {
  margin: -3vh;
  content: '';
  position: absolute;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  background-color: #7366ff;
  opacity: 0.2;
}

@keyframes marker-pulse {
  0%   { transform: scale(0); opacity: 1; }
  70%  { transform: scale(4); opacity: 0; }
  100% { transform: scale(0); opacity: 0; }
}